/** @format */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap");

html {
  font-size: 10px;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  color: black;
  font-size: 1.6rem;
}
img {
  width: 100%;
  cursor: pointer;
}
.inner {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}
.left {
  float: left;
}

/*header*/
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 80px;
  padding-top: 10px;
  background-color: transparent;
}

header h1 {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}

header img {
  width: 120px;
}
header nav {
  display: none;
}
nav .ham {
  display: none;
}
header .mainmenu {
  margin: auto;
  padding-top: 35px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
header nav ul li {
  margin-right: 10px;
}
header.on {
  background-color: rgba(54, 125, 94, 0.90);
}

header.on nav {
  display: block;
}
header.on .mainmenu {
  display: flex;
}
.submenu {
  display: none;
}
header dl {
  float: right;
  padding: 18px 20px 0 0;
}
header dl dd:nth-child(2) img {
  padding-top: 3px;
  margin-right: 10px;
  width: 30px;
}
header dl dd img {
  width: 40px;
}
/*main_visual*/
.main_visual {
  position: relative;
}
.main_visual p {
  /* z-index: 2; */
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: clamp(50px, 50vw, 150px);
  font-family: "Cormorant", serif;
  word-break: keep-all;
  animation: logo 5s linear;
  /* -webkit-text-stroke-color: #fff !important;
  -webkit-text-stroke: 5px; */
}
.main_visual .fade {
  display: none;
}

@keyframes logo {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
/*main*/
section {
  padding: 100px 0;
}
h2 {
  padding: 20px 0;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 400;
}
h2 + p {
  padding-bottom: 100px;
  text-align: center;
}
/*best*/
.best {
  height: auto;
}
.best ul div img {
  width: 300px;
}
.best .item_text {
  margin-left: 50px;
}
.item_text p {
  font-size: 1.6rem;
}
.item_text .enlarge {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  color: #999;
  font-size: 1.2rem;
}
.item_text .enlarge::after {
  display: block;
  position: absolute;
  left: 0;
  top: 23px;
  content: "";
  width: 0;
  height: 2px;
  background-color: #999;
  transition: all 0.3s;
}
.item_text .enlarge:hover::after {
  width: 60px;
}
/*recommend*/
.recommend {
  padding: 0;
  background-color: #f9f4f3;
  height: auto;
}
.recommend .inner {
  width: 100%;
  max-width: 1920px;
}
.recommend .recommend_left {
  position: sticky;
  top: 80px;
  width: 50%;
  height: 100%;
}
.recommend_left img {
  width: 100%;
}
.recommend_right {
  width: 50%;
  padding-bottom: 100px;
}
.recommend_text {
  padding: 20px 40px;
}
.recommend_right h3 {
  font-size: 3.2rem;
  font-weight: 400;
}
.recommend_right h3 + p {
  padding: 10px 0;
}
.recommend_right ul {
  flex-wrap: wrap;
  text-align: center;
}
.recommend_right li {
  width: calc(100% / 2);
  font-size: 14px;
  font-weight: 500;
}
.recommend_right li img {
  margin: auto;
  width: 70%;
}
/*promotion*/
.promotion{
  padding: 100px 0;
}
.promotion a {
  display: block;
  width: 100%;
  height: 100%;
}
.promotion .swiper {
  position: relative;
  width: 100%;
}

.promotion .swiper-slide {
  opacity: 0.5;
  transform: scale(0.7);
}

.promotion .swiper-slide-active {
  opacity: 1;
  transform: scale(0.9);
}
.swiper-button-prev,
.swiper-button-next {
  color: #284738;
}
.swiper-button-prev {
  left: 23%;
}
.swiper-button-next {
  left: 75%;
}
.swiper-pagination-bullet {
  border: 1px solid #284738;
  background-color: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #284738;
}
.promotion .item_text {
  justify-content: space-between;
  text-indent: 0;
}
.promotion .item_text p {
  font-size: 30px;
  padding: 20px 0;
}
.promotion .item_text .enlarge {
  margin: 25px 20px;
  font-size: 20px;
}
.promotion .item_text .enlarge:hover {
  color: #fff;
  background-color: #333;
}
.promotion .item_text .enlarge::after {
  display: none;
  content: "";
}
/*sns*/
.sns {
  padding: 200px 0;
  background-color: #f9f4f3;
}
.sns_text {
  margin-bottom: -80px;
}
.sns_text h3 {
  font-size: 30px;
  font-weight: 500;
}
.sns_text p {
  display: inline-block;
}
.sns_text ul {
  display: inline-block;
  margin-left: 20px;
}
.sns_text li{
  display: inline-block;
}
.sns_text img{
  width: 20px;
}
.sns-container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
}
.sns-item {
  overflow: hidden;
}
.sns-item img {
  transition: all 0.5s;
}
.sns-item:hover img {
  transform: scale(120%);
}
.item1 {
  margin-top: 200px;
}
.item2 {
  margin-top: 100px;
  width: 300px;
}
.item3 {
  grid-column: 3 / span 4;
  width: 400px;
}
.item4 {
  margin-left: 100px;
  width: 200px;
}
.item7 {
  margin-bottom: 200px;
}

/*footer*/
footer {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.8;
  background-color: #284738;
}
footer p {
  width: 200px;
  margin: 60px 100px 0 50px;
}
footer li {
  padding-right: 20px;
}
.footer_right {
  padding: 50px 0;
}
address ul {
  flex-wrap: wrap;
}
