/** @format */

html {
  font-size: 10px;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  color: black;
  font-size: 1.6rem;
}
.inner {
  width: 90%;
  max-width: 1280px;
  margin: auto;
}
/*header*/
header {
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: transparent;
}

header h1 {
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
}

header img {
  width: 120px;
}
header nav {
  display: none;
  background-color: #fff;
}
header .mainmenu {
  width: 800px;
  justify-content: space-between;
  margin: auto;
  height: 50px;
  color: #284738;
  line-height: 50px;
  text-align: center;
  font-weight: 600;
}
header nav ul li {
  width: 25%;
}
header.on .header_top {
  background-color: #284738;
}
header.on h1 {
  justify-content: center;
}
header.on nav {
  display: block;
}
header.on .mainmenu {
  display: flex;
}
.submenu {
  display: none;
}
/*main_visual*/
.main_visual img {
  width: 100%;
}
@media (min-width: 1280px) {
  .main_visual img {
    height: 100vh;
  }
}

/*main*/
section {
  padding: 100px 0;
}
h2 {
  padding: 20px 0;
  text-align: center;
  font-size: 3.6rem;
}
h2 + p {
  padding-bottom: 100px;
  text-align: center;
}
/*best*/
.best {
  height: 100vh;
}
.best ul div img {
  width: 300px;
}
.item_text {
  text-indent: 50px;
}
.item_text p {
  font-size: 2rem;
}
.item_text .enlarge {
  position: relative;
  display: block;
  margin-top: 10px;
  font-size: 1.5rem;
}
.item_text .enlarge::after {
  display: block;
  position: absolute;
  left: 50px;
  top: 23px;
  content: '';
  width: 0;
  height: 3px;
  background-color: #999;
  transition: all 0.3s;
}
.item_text .enlarge:hover::after {
  width: 70px;
}
/*recommend*/
.recommend {
  padding: 0;
  background-color: #f9f4f3;
}
.recommend .inner {
  width: 100%;
  max-width: 1920px;
}
.recommend_img {
  height: auto;
}
.recommend .recommend_left {
  position: sticky;
  top: 110px;
  width: 50%;
  height: 100%;
}
.recommend_left img {
  width: 100%;
}
.recommend_right {
  width: 50%;
  padding-bottom: 100px;
}
.recommend_text {
  padding: 20px 40px;
}
.recommend_right h3 {
  font-size: 3.2rem;
  font-weight: 400;
}
.recommend_right h3 + p {
  padding: 10px 0;
}
.recommend_right ul {
  flex-wrap: wrap;
}
.recommend_right li {
  width: calc(100% / 2);
}
/*promotion*/

.swiper {
  position: relative;
  width: 100%;
}

.promotion .swiper-slide {
  opacity: 0.5;
  transform: scale(0.5);
}

.promotion .swiper-slide-active {
  opacity: 1;
  transform: scale(0.7);
}
.swiper-button-prev,
.swiper-button-next {
  color: #284738;
}
.swiper-button-prev {
  left: 25%;
}
.swiper-button-next {
  left: 85%;
}
.swiper-pagination-bullet{
  border: 1px solid #284738;
  background-color: #fff;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #284738;
}
.promotion .item_text{
  text-indent: 0;
}
.promotion .item_text p{
  font-size: 30px;
  padding: 20px 0;
}
.promotion .item_text .enlarge{
  margin: 25px 20px;
  font-size: 20px;

}
.promotion .item_text .enlarge:hover{
  color: #fff;
  background-color: #333;
}
.promotion .item_text .enlarge::after {
  display: none;
  content: "";
}