section {
  padding: 40px 0;
}
h2 {
  padding: 20px 0;
  text-align: left;
  font-size: 3rem;
}
h2 + p {
  padding-bottom: 30px;
  text-align: left;
}
/*header*/
header h1 {
  order: 1;
}
nav .ham {
  order: 0;
  display: block;
  margin-left: 20px;
  padding-top: 16px;
  width: 40px;
}
header .left .mainmenu {
  display: none;
}
header dl {
  order: 2;
}
/*main_visual*/
video {
  display: none;
}
.main_visual {
  display: block;
}
.main_visual {
  display: block;
  position: relative;
  height: 100vw;
}

.main_visual li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
}
/*best*/
.best {
  height: auto;
}
.best ul {
  flex-wrap: wrap;
  gap: 80px 0;
}
.best ul li {
  width: calc(100% / 2);
}
.best ul div img {
  width: 100%;
}
.item_text {
  text-indent: 0;
}
/*recommend*/
.recommend > div {
  flex-direction: column;
}
.recommend .recommend_left {
  position: static;
  width: 100%;
}
.recommend_right {
  width: 100%;
}
.recommend_right .recommend_text{
  padding: 20px;
}
.recommend_right ul {
  margin: auto;
  width: 90%;
}
/*promotion*/
.promotion {
  padding: 5%;
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
.swiper-slide {
  width: 100%;
}
.swiper-slide img {
  width: 100%;
}
.promotion .item_text{
  flex-direction: column;
}
.promotion .item_text p{
  font-size: 20px;
}
.promotion .item_text .enlarge{
  display: none;
}

/*sns*/
.sns{
  padding: 100px 0;
}
.sns_text {
  margin-bottom: 10px;
}
.sns-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sns-item:hover img {
  transform: scale(100%);
}
.sns_img .sns-item {
  margin: 0;
  padding: 0;
}
.sns_img .swiper-slide img {
  margin: auto;
  width: 100%;
  height: 100%;
}
/*footer*/
footer {
  flex-direction: column;
}
.footer_right > ul {
  flex-direction: column;
  padding: 20px 0;
  line-height: 25px;
}
